/* color scheme */
/* 
background-color : #2e77c3
icon: #2e77c3

*/


/* navigation */
#custom-nav{
    /* background-color: #154a95; */
    background-color: #2e77c3;
    padding: 1.2rem 0;
}
.nav-img {
    width: 20%;
}

/* banner */
.computer-image-float{
    width: 40%;
    position: absolute;
    /* z-index: 10; */
    top: 9rem;
    left: 41rem;
}

#test-bg {
    width: 100%;
    height: 35rem;
}

/* plan */
.plan-header {
    background: #2e77c3;
    color: white;
    padding: 10% 0;    
}

.plan-header > h3 {
   font-weight: bold;
}

.plan-price {
    background-color: grey;
    color: white;
    padding: 4% 0;
}

.plan-features {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}
/* webinars */
#webinar {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 3.5rem 0;
}
#info-icon {
    border-radius: 80%;
    box-shadow: 0 0 0 9px rgba(0,169,117,1), 0 0 0 42px rgba(0,169,117,.4), 0 0 0 71px rgba(0,169,117,.2);
}

/* client protection and payment method */
#payment-method-home {
    width: 100%;
}

/* footer styling  */
h3 {
    font-size: 18px !important;
    font-weight: 500 !important;
    padding-left: 2px;
} 

ul {
    list-style: none;
    padding-left: 2px;
}

/* about section */
#message {
    position: relative;
    top: 93px;
}