{% extends "dashboard/dashboard-base.html" %}
{% block title %} Dashboard {% endblock %}
{% load humanize %}
{% load widget_tweaks %}
{% block dashboard %}
    <div class="wrapper ">
        {% include "dashboard/sidebar.html" %}
        <div class="main-panel">
            {% if request.user.withdraw %}
            <div class="container">
                 <!-- <h3>Test</h3> -->
                 <!-- withdrawal form -->
                 <div class="card">
                    <div class="card-body">
                        <h3 class="text-success text-center">
                            Withdrawal Successful, Awaiting Approval
                        </h3>
                    </div>
                </div>
            </div>    
            {% else %}
            <div class="container my-5">
                <div class="card">
                    <div class="card-body">
                        <!-- withdrawal form -->

                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <h3 class="text-center my-5">Withdrawal Form</h3>
                                    <div class="form-group">
                                        <label for="">
                                            <span>Amount($)</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <!-- <input type="text" name="" id="" class="form-control-text form-control"> -->
                                        {{ form.amount|add_class:'form-control-text form-control'}}
                                    </div>

                                    <!-- wallet address -->
                                    <div class="form-group">
                                        <label for="">
                                            <span>Wallet Address</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <!-- <input type="text" name="" id="" class="form-control-text form-control"> -->
                                        {{ form.wallet_address|add_class:'form-control-text form-control'}}
                                    </div>

                                    <!-- password -->
                                    <div class="form-group">
                                        <label for="">
                                            <span>Password</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <!-- <input type="password" name="" id="" class="form-control-text form-control"> -->
                                        {{ form.password|add_class:'form-control-text form-control'}}

                                    </div>

                                    <button type="submit" class="btn btn-success btn-block">Request Withdrawal</button>
                                </form>
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            </div>
        </div>
    </div>
    {% endblock %}
